<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand " href="/">Companies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-5">
      <li class="nav-item pl-5 {{#if (ifEquality title "Company list")}}active{{/if}}">
        <a class="nav-link" href="/companies">Company list {{#if (ifEquality title "Company list")}}<span
            class="sr-only">(current)</span>{{/if}}</a>
      </li>
      <li class="nav-item pl-5 {{#if (ifEquality title "Search Companies")}}active{{/if}}">
        <a class="nav-link" href="/">Search Companies {{#if (ifEquality title "Search Companies")}}<span
            class="sr-only">(current)</span>{{/if}}</a>
      </li>
    </ul>
  </div>
</nav>